body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    width: 300px;
    position: center;
    margin-bottom: 40px; /* Añadir margen inferior para espacio entre contenedores */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"], input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid #242ca0;
    border-radius: 10px;
    width: 270px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
}

button:hover {
    background-color: #0056b3;
}

.toggle {
    text-align: center;
    margin-top: 10px;
}

.toggle a {
    color: #007BFF;
    text-decoration: none;
}

.toggle a:hover {
    text-decoration: underline;
}
